<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Queries:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li>
          <a href="/things/{{thing.name}}" ng-click="$ctrl.focus(thing)" uib-tooltip="{{thing.info}}{{thing.keywords.toString()}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a>

          <p>
            {{thing.info}}{{thing.keywords.toString()}}
          </p>

        </li>
      </ul>
    </div>
  </div>
</div>
