<div class="container">
  <p>
    <a href="https://twitter.com/bakerianthomas">©2016 Ian Baker</a> |
    <a href="https://bitbucket.org/BakerIan/">Bitbucket</a> |
    <a href="https://twitter.com/">Twitter</a>
  </p>
</div>
