$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

ul.nav {
  white-space: nowrap;
  overflow-x: auto;
}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'thing/thing.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
/* endinject */
@import'admin/admin.scss';
@import 'main/main.scss';
@import 'thing/thing.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
/* endinject */
