.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.btn-space {
  margin:10px;
  padding: 0px;
  height: 50px;
  width: 150px;
}

.option {
  color: black;
}

.select{
  color: black;
}

.svg {
  white-space: nowrap;
  overflow-x: auto;
}
