<header class="hero-unit" id="banner">
  <div class="container">
    <div class=" col-xs-4">
      <h3>New Stream</h3>
      <form class="thing-form">
        <p class="input-group">
          <div class="col-xs-12">
            <span><strong>Title</strong>
            <input type="text" class="form-control" placeholder="Add a new title here." ng-model="$ctrl.newThing">
            </span>
          </div>
          <div class="col-xs-12">
            <span><strong>End Time</strong>
            <input type="datetime-local" class="form-control" placeholder="Time in minutes" ng-model="$ctrl.newTime">
            </span>
          </div>
          <div class="col-xs-12">
            <span><strong>How often the RCBM runs</strong></span>

            <div class="col-xs-6">
              <input type="Number" class="form-control" value="1" ng-model="$ctrl.newInterval">
            </div>
            <div class="col-xs-6">
              <select class="form-control" ng-model="$ctrl.IntervalType" id="intervalType">
                <option value="Hrs">Hrs</option>
                <option value="Min">Min</option>
                <option value="Sec">Sec</option>
              </select>
            </div>
          </div>
          <div class="col-xs-12">
            <span><strong>Levels</strong>
            <input type="Number" class="form-control" placeholder="Max 2" ng-model="$ctrl.newLevels">
            </span>
          </div>
          <div class="col-xs-12">
            <span><strong>Keywords</strong>
            <input type="text" class="form-control" placeholder="word, word, word" ng-model="$ctrl.newKeywords">
            </span>
          </div>
          <div class="btn col-xs-12">
            <br>
            <button type="submit" class="btn btn-space btn-info" ng-click="$ctrl.addThing()">Stream</button>

          </div>
        </p>
      </form>
    </div>
    <div class="nav nav-tab col-xs-4">
      <h3>Run RCBM on logged data</h3>
      <div class="col-xs-12">
        <span><strong>Title</strong>
        <input type="text" class="form-control" placeholder="Add a new title here." ng-model="$ctrl.newThingH">
        </span>
      </div>
        <div class="col-xs-12">
          <span><strong>Start Time:</strong>
          <input type="datetime-local" class="form-control" placeholder="Start Date"  ng-model="$ctrl.startDate">
          </span>
        </div>
        <div class="col-xs-12">
          <span><strong>End Time:</strong>
          <input type="datetime-local" class="form-control" placeholder="End Date" ng-model="$ctrl.endDate">
          </span>
        </div>
        <div class="col-xs-12">
          <span><strong>How often the RCBM runs</strong></span>

          <div class="col-xs-6">
            <input type="Number" class="form-control" value="1" ng-model="$ctrl.newIntervalH">
          </div>
          <div class="col-xs-6">
            <select class="form-control" ng-model="$ctrl.IntervalTypeH" id="intervalType">
              <option>Hrs</option>
              <option>Min</option>
              <option>Sec</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12">
          <span><strong>Levels</strong>
          <input type="Number" class="form-control" placeholder="Max 2" ng-model="$ctrl.newLevelsH">
          </span>
        </div>
        <div class="col-xs-12">
          <span><strong>Keywords</strong>
          <input type="text" class="form-control" placeholder="word, word, word" ng-model="$ctrl.newKeywordsH">
          </span>
        </div>
        <div class="btn col-xs-12">
          <span>
          <button type="submit" class="btn btn-space btn-info" ng-click="$ctrl.addThingHistorical()"> Run </button>
        </span>
        </div>


    </div>
    <div class="col-xs-4">
      <div class="col-xs-12">
        <h3>Other Options</h3>
      </div>

      <div class="col-xs-12">
        <h4 align="left">External File Input:</h4>
      </div>

        <h5 align="left">File Type:</h5>
        <select class="form-control" ng-model="$ctrl.fileType" id="fileType">
          <option value="tweets">Tweets</option>
          <option value="stats">Stats</option>
          <option value="queries">Queries</option>
        </select>

        <span>

          <div ng-show="$ctrl.fileType=='tweets'"class="col-xs-12">
            <h5 align="left">File:</h5>
            <input type="file" class="form-control" ngf-select="true" ng-model="$ctrl.fileName" id="fileName">
          </div>
          <div ng-show="$ctrl.fileType=='stats'"class="col-xs-12">

            <h5 align="left">Query Name:</h5>
            <input type="text" class="form-control" ng-model="$ctrl.fileQueryName">
            <h5 align="left">File:</h5>
            <input type="file" class="form-control" ngf-select="true" ng-model="$ctrl.fileName" id="fileName">
          </div>
          <div ng-show="$ctrl.fileType=='queries'"class="col-xs-12">
            <h5 align="left">File:</h5>
            <input type="file" class="form-control" ngf-select="true" ng-model="$ctrl.fileName" id="fileName">
          </div>
          <button type="submit" class="btn btn-space btn-info" ng-click="$ctrl.addFile($scope)"> Add </button>
        </span>
    </div>
</div>
</header>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h1 >Queries:</h1>
        </div>
        <ul class="btn list-group-item col-xs-4" ng-click="$ctrl.focus(thing)" ng-repeat="thing in $ctrl.awesomeThings">
          <div class="list-group-item-heading col-xs-12">
            <h4 class="list-inline" href="#"><a href="#">{{thing.name}}<span class="badge">{{thing.stats.length}}</span></a></h4>

            <h5>Created At: {{thing.created_at}}</h5>
            <h5 ng-show="thing.status=='Active'">Ends: {{thing.end_at}}</h5>
            <h5 ng-show="thing.status=='Inactive'">Ended: {{thing.end_at}}</h5>
            <h5 ng-show="thing.status=='Historical'">Ended: {{thing.end_at}}</h5>
            <h5>RCBM calls every {{thing.intervalTime}} {{thing.IntervalType}}</h5>
            <div>
              <p>
                <h6>Keywords:</h6>  {{thing.keywords}}
              </p>
            </div>

          </div>
        </ul>
      </div>
    </div>

  </div>
      <div class="col-lg-12">
        <div class="container-fluid" >
          <div class="row">
            <div ng-show="$ctrl.curThing && $ctrl.curThing.stats[0]" class="col-lg-12">
              <h3 >{{$ctrl.curThing.name}}<span class="badge" ng-bind="{{$curThing.stats.length}}"></span></h3>
                  <div>
                  <ul class="nav nav-tabs" ng-repeat="stat in $ctrl.curThing.stats">

                    <li class="nav nav-tabs">
                      <h4>{{stat.created_at}}  |  Level {{stat.level}}</h4>
                      <div linear-chart chart-data="stat"></div>
                      </li>
                  </ul>
                </div>

            </div>
          </div>
        </div>
    </div>

</body>
